.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.back-button {
    position: absolute;
    left: 3rem;
    top: 1.5rem;
    font-weight: bold;
    font-size: 1.2rem;
    cursor: pointer;
}

.back-button:hover {
    color: #00fae5;
}

.li-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: .5rem;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 2rem;
    width: 50%;
}

li {
    background-color: transparent;
    margin-bottom: 2rem;
    color: white;
    width: 100%;
    padding-bottom: 1rem;
    border-bottom: 1px solid #DEB992;
}

.project-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 1.75rem;
    font-weight: lighter;
}

.description {
    font-size: 1.1rem;
    font-weight: lighter;
}

.edit-project {
    width: 5rem;
    background-color: #DEB992;
    color: black;
    border-radius: 5px;
    border: none;
    padding: .3rem;
    cursor: pointer;
}

.edit-project:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.page-heading {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
}

h1 {
    font-weight: lighter;
    font-size: 2.5rem;
}

.new-project {
    width: 5rem;
    align-self: flex-end;
    border: none;
    color: white;
    background-color: #1BA098;
    padding: .3rem;
    font-size: .8rem;
    border-radius: 5px;
    margin-bottom: .5rem;
    cursor: pointer;
}

.new-project:hover {
    background-color: #00fae5;
    color: black;
}

.active {
    color: rgb(7, 187, 7);
}

.inactive {
    color: #F24E1E
}

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.766);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0b1a24;
    padding: 2rem 1rem;
    border-radius: 1rem;
    width: 22rem;
    max-width: 90%;
    color: #DEB992;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #DEB992;
    background-color: transparent;
    color: white;
}

.modal-content textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-bottom: 1px solid #DEB992;
    background-color: transparent;
    color: white;
    height: 100px;
    resize: none;
    font-family: 'Segoe UI', sans-serif;
}


.modal-actions button:disabled {
    background: #999;
    cursor: not-allowed;
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: transparent;
    color: #F24E1E;
    border: none;
    font-size: 2rem;
}

.close-btn:hover {
    cursor: pointer;
    color: white;
}

.submit {
    width: 10rem;
    align-self: flex-end;
    border: none;
    color: white;
    background-color: #1BA098;
    padding: .8rem;
    font-size: .8rem;
    border-radius: 10px;
    margin-bottom: .5rem;
    cursor: pointer;
}

.submit:hover {
    background-color: #00fae5;
    color: black;
}

select {
    width: 100%;
    padding: .5rem;
    border: none;
    border-bottom: 1px solid #e0c9a6;
    background: none;
    color: #e0c9a6;
    margin-top: 0.5rem;
    outline: none;
}

select option {
    background-color: #051622;
    color: #e0c9a6;
}

.modal-content form > div {
    margin-bottom: 1rem;
}