<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <div class="login-page">
        <h1>COOK SYSTEMS</h1>
        <h2>A FINAL APP</h2>
        <form (ngSubmit)="handleLogin()">
            <div class="login-box">
                <div class="image-wrapper"><img src="/assets/img/login.png" alt="login icon" /></div>


                <input type="text" name="username" [(ngModel)]="credentials.username" (input)="clearError()"
                    placeholder="username" />
                <input type="password" name="password" [(ngModel)]="credentials.password" (input)="clearError()"
                    placeholder="password" />

                <div *ngIf="errorMessage" class="error-message">
                    {{ errorMessage }}
                </div>

                <button type="submit">LOGIN</button>
            </div>
        </form>
    </div>
</body>

</html>