.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #39b5a5;
  font-family: 'Segoe UI', sans-serif;
}

.login-page h1 {
  font-size: 3rem;
  margin-bottom: 0;
  margin-top: 4rem;
  font-weight: lighter;
}

.login-page h2 {
  font-size: 2rem;
  margin-bottom: 2.5rem;
  margin-top: 1rem;
  font-weight: lighter;
}

.login-box {
  background-color: transparent;
  border: 3px solid #e0c9a6;
  border-radius: 12px;
  padding: 3rem 2rem 2rem 2rem;
  box-shadow: 0px 8px 16px rgba(224, 201, 166, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
}

.image-wrapper {
  display: grid;
  place-items: center;
  position: relative;
  margin-bottom: 1.5em;
}

.image-wrapper::before {
  content: "";
  background-color: #0D3A59;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.image-wrapper img {
  position: relative;
  width: 6rem;
  height: auto;
  z-index: 1;
}

.login-box input {
  width: 50%;
  margin: 0.5em 0;
  padding: 0.7em;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  font-size: 1em;
  text-align: center;
}

.login-box input::placeholder {
  color: #39b5a5;
}

.login-box button {
  margin-top: 3rem;
  padding: 0.7rem 2.2rem;
  border-radius: 20px;
  border: 1px solid #39b5a5;
  background-color: transparent;
  color: white;
  font-size: .75rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-box button:hover {
  background-color: #39b5a5;
  color: #0b1a24;
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin: 10px 0;
  text-align: center;
}