.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    width: 100%;
    background-color: #DEB992;
    border: none;
    height: 1px;
}

h1 {
    font-weight: lighter;
    margin-bottom: 0;
    font-size: 2.2rem;
}

.page-heading {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.new-announcement {
    align-self: flex-end;
    border: none;
    color: white;
    background-color: #1BA098;
    padding: .3rem 1.7rem;
    font-size: .8rem;
    border-radius: .45rem;
    margin-right: 3rem;
    margin-bottom: .5rem;
    cursor: pointer;
}

.new-announcement:hover {
    background-color: #00fae5;
    ;
}

.announcements {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
}

.li-heading {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 2rem;
    width: 100%;
}

li {
    background-color: #0B2D45;
    margin-bottom: 2rem;
    color: white;
    border-radius: 1rem;
    width: 70%;
    padding: 1rem 3rem;
}

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.766);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;

}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #0b1a24;
    padding: 20px;
    border-radius: 1rem;
    width: 400px;
    max-width: 90%;
    color: #DEB992;
}

.modal-content form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-content input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #DEB992;
    background-color: transparent;
    color: white;
}

.modal-content textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-bottom: 1px solid #DEB992;
    background-color: transparent;
    color: white;
}

.modal-content textarea {
    height: 100px;
    resize: none;
}

.modal-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal-actions button {
    padding: 0.3rem 1.7rem;
    border: none;
    border-radius: 0.45rem;
    cursor: pointer;
    background-color: #1BA098;
    color: white;
}


.modal-actions button:disabled {
    background: #999;
    cursor: not-allowed;
}